body {
    margin: 0;
    background: darkgray;
    overflow: hidden;
    text-align: center;

}

#container {
    background-color: aliceblue;
    margin: auto;
    width: 60%;
    border-radius: 10px;
}

#count-el {
    padding-top: 4%;
}

#increase-button {
    background-color: aquamarine;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#decrease-button {
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#save-button {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#clear-button {
    background-color: blue;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#save-content {
    margin: 5% 5% 20% 2%;
    text-align: left;
}

#save-title {
    margin-right: 10px;
    display: inline-block;
    color: darkslategrey;
    font-size: 15px;
}

#save-el {
    display: inline;
}